/*Variables- open*/

$font-white: #ffffff
$font-black: #000000
$font-grey: #b8babb

$bg-white: #ffffff
$bg-grey: #454d52
$bg-black: #000000

$border-grey: 1px solid #9ea2a5
$blue-btn: #67798f

/*Variables- close*/


/*defaulf settibngs -open*/
body
	margin: 0
	padding: 0
	font-family: Tahoma, sans-serif
	font-weight: normal
	background: $bg-black
ul
	list-style: none
	margin: 0
	padding: 0

a
	text-decoration: none

a:hover 
	text-decoration: none

/*defaulf settibngs -close*/


/*header -open*/

.header
	background: $bg-black
	height: auto
	padding: 0
	.header-size
		display: inline-block
		width: 75px
		height: 75px
		background-repeat: no-repeat
	.logo
		@extend .header-size
		background: url(../img/logo.png)
	.info
		@extend .header-size
		background: url(../img/info.png)
	.contacts
		@extend .header-size
		background: url(../img/contacts.png)
		

/*header -close*/

/*first-section - open*/
.first-section
	background: url(../img/rocket.png)
	background-repeat: no-repeat
	background-size: 100% 100%
	padding-top: 30px
	color: $font-white
	box-sizing: border-box

	.first-section-box
		margin-left: 100px

		.first-section-title
			font-size: 20px
			vertical-align: bottom
			margin-right: 5px

		.first-section-title-sm
			font-size: 15px
			letter-spacing: -1px
			vertical-align: bottom
			

		.first-section-title-sm,
		.first-section-title
			display: inline
			text-transform: uppercase

		.first-section-title-lg
			font-size: 35px
			margin: 90px 0 60px 0

		.first-section-desription
			width: 70%
			font-size: 15px
			font-style: italic

		.first-section-btn
			background: $bg-grey
			border: $border-grey
			height: 60px
			width: 250px
			color: $font-white
			font-size: 20px
			margin: 60px 0 85px 0

/*first-section - close*/

/*next-section - open*/
.next-section
	background: $bg-white

	.next-section-style
		width: 70%
		margin: 0 auto

		.next-section-box
			display: inline-block
			width: 25%
	.line
		width: 90%
		height: 2px
		background: #9ea2a5
		display: block
		margin: 0 auto
/*next-section - close*/


/*footer - open*/
.footer
	text-align: center
	.footer-list,
	.footer-item
		display: inline-block

/*footer - close*/